#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000d4;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #61dafb;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@keyframes square-animation {
  0% {
   left: 0;
   top: 0;
  }
 
  10.5% {
   left: 0;
   top: 0;
  }
 
  12.5% {
   left: 32px;
   top: 0;
  }
 
  23% {
   left: 32px;
   top: 0;
  }
 
  25% {
   left: 64px;
   top: 0;
  }
 
  35.5% {
   left: 64px;
   top: 0;
  }
 
  37.5% {
   left: 64px;
   top: 32px;
  }
 
  48% {
   left: 64px;
   top: 32px;
  }
 
  50% {
   left: 32px;
   top: 32px;
  }
 
  60.5% {
   left: 32px;
   top: 32px;
  }
 
  62.5% {
   left: 32px;
   top: 64px;
  }
 
  73% {
   left: 32px;
   top: 64px;
  }
 
  75% {
   left: 0;
   top: 64px;
  }
 
  85.5% {
   left: 0;
   top: 64px;
  }
 
  87.5% {
   left: 0;
   top: 32px;
  }
 
  98% {
   left: 0;
   top: 32px;
  }
 
  100% {
   left: 0;
   top: 0;
  }
 }
 
 .loader {
  position: relative;
  width: 96px;
  height: 96px;
  
 }
 
 .loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
 }
 
 .loader-square:nth-of-type(0) {
  animation-delay: 0s;
 }
 
 .loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
 }
 
 .loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
 }
 
 .loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
 }
 
 .loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
 }
 
 .loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
 }
 
 .loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
 }
 
 .loader-square:nth-of-type(7) {
  animation-delay: -10s;
 }



#content {
  display: none;
  text-align: center;
 
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#content.visible {
  opacity: 1;
}



 


  .m-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    bottom:6px;
    height: 80px;
    left: 0;
    right: 0;
  background-color:none;
  
  }
  
  .m-btn {
    position: relative; /* Изменено на относительную позицию */
    margin-right: 9px;
    padding: 10px;
    background: rgba(23, 23, 23,.8);
    color: #000000;
    border: 1px black;
    
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* Убираем блик при фокусировке */
    width: 60px; /* Ширина кнопок */
    height: 60px; /* Высота кнопок */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    
  }
   .m-btn {
    
    color: #fff;
    
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
   .m-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
  }
  
   .m-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
   .m-btn:hover:before {
    transform: translateX(0);
  }
  
  .m-btn img {
    margin-bottom: 4px;
    width: 65%; /* Ширина изображения */
    height: auto; /* Высота изображения будет автоматически подстраиваться */
    /* Округление углов для круглой иконки */
  }
  
  .m-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }
  
  .m-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    display: none;
   
    transition: opacity 1s;
  }
  

  
  .m-content {
    position: relative;
    z-index: 3; /* Контент будет поверх всего */
    padding: 20px;
    background-image: radial-gradient(circle farthest-corner at center, #1815d0 0%, #000000 150%);/* Фоновый цвет для страницы с текстом */
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Максимальная ширина текстового блока */
    height: 96%;
    
    overflow: auto;
  }
  .switch {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0) ;
    border: 1px solid;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: url(meta/not2.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color:rgba(0, 0, 0, 0) ;
    border: 1px solid;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
  
  
  
  .m-close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 21;
    color: red;
  }
  
  .m-popup-open {
    display: flex;
    opacity: 1;
    
  }
  
  .m-popup-close {
    transition: opacity .2s;
    opacity: 0;
  }
  
 
  
  .record{
    cursor: pointer; 
    justify-content: start; 
    
   align-items: end;
    display: flex;  
    width: 280px;
   margin-bottom: 4px;
     
  }
  .record div{
    font-size: 12px;
     margin-right: 4px;
     color: black;
  }
#message{

width: 25px;
height: 20px;
}
#timeLeft{
  white-space: nowrap;
}



#loader, #loader2 {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}